@import "mixins";
@import 'src/variables.scss';

.primary-button {
    @include button(50vh, 50px, $primary-color, $white-color);
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    margin-left: 80px;
}

.white-button {
    @include button(100%, 40px, $white-color, $primary-color);
    border: 1px solid $primary-color;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}