@import "mixins";
@import 'src/variables.scss';

.primary-button {
    @include button($primary-color, #FFFFFF);
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.white-button {
    @include button(#FFFFFF, $primary-color);
    border: 1px solid $primary-color;
    box-sizing: border-box;
    border-radius: 5px;
}