.container {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width: 20%;
    height: 50%;
    margin-right: 30px;
}

.container-total {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;   
}
.navigation{
    margin-right: 30px;
}
.navigation div{
    flex-direction: row;
    align-items: center;
    display: flex;
}
.navigation div img{
    padding-right: 20px;
}
.Feed{
    margin-right: 200px;
    margin-left: 50px;
}
.navigation div h2 h{
    color: #1da1f2;
    padding-top: 0%;
    padding-bottom: 0%;

}
.Feed-container{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width: 60vh;
    height: 50%;
}
.Feed-container div{
    flex-direction: row;
    align-items: center;
    display: flex;
}
.Feed-container h4{
    font-weight: normal;
}
.User h3,h4{
    padding-left: 10px;
}
.links img{
    padding-left: 40px;
    padding-right: 40px;
    
}
.Trending{
    margin-left: 30px;
}
.trends div h4{
    font-weight: normal;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0%;
}
.trends div h4 h3{
    margin: 0%;
}
.trends div {
    padding-top: 3%;
    padding-bottom: 3%;
 }

