.trends{
    background-color: #F6F8FA;
    padding-left: 10px;
}
.trends div h4{
    font-weight: normal;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0%;
}
.trends div h4 h3{
    margin: 0%;
}
.trends div {
    padding-top: 3%;
    padding-bottom: 6%;
    width: 60vh;
    border-bottom: 1px solid #E7ECF0;
 }