@import '../../../../variables.scss';

.Feed-insert{
    padding-top: 10px;
    border-bottom: 10px solid $trends-div-color;
}

.Feed-padding{
    padding-left: 40px;;
}

.icons-tweet{
    display: flex;
    flex-direction: row;
    margin-top: 20px; 
}