@import '../../../../variables.scss';

.search{
    display: flex;
    position: relative;
    border-radius: 40px;
    background-color: $trends-div-color;
    width:  30vw;
    margin-left: 10px;
    img{
        padding-top: 20px;
        padding-left: 18px;
        padding-right: 5px;
    }
    input{
        background-color: $trends-div-color;
        
    }
}