.search{
    display: flex;
    position: absolute;
    border-radius: 40px;
    background-color: #E7ECF0;
    width:  30vw;
    img{
        padding-top: 10px;
        padding-left: 13px;
    }
    input{
        background-color: #E7ECF0;
        
    }
}