@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Home {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home-header {
  background: linear-gradient(90deg, #1DA1F2 50%, #ffffff 50%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Home-content-left{
  margin-right: 50%;
}
.Home-content-right{
  margin-left: 50%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
}
.Home-content-right h2{
  font-size: 36px;
  font-weight: bold;
}
.Home-content-right a{
  color: #1da0f2;
  text-decoration: none;
}
.Home-content-right h4{
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 0%;
  color: #616161;
}
.Home-content-right button{
  width: 200px;
  height: 40px;
  font-weight: bold;  
  color: #1DA1F2;
  background: #FFFFFF;
  border: 1px solid #1DA1F2;
  box-sizing: border-box;
  border-radius: 5px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
