body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

@mixin a {
    color: #1da0f2;
    text-decoration: none;
}

@mixin h {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #1A202C  
}

@mixin h1 {
    @include h;
    font-size: 32px;
    line-height: 37px;
}

@mixin h2 {
    @include h;
    font-size: 24px;
    line-height: 28px;
}

@mixin h3 {
    @include h;
    font-size: 20px;
    line-height: 23px;
}

@mixin h4 {
    @include h;
    font-size: 16px;
    line-height: 19px;
}

@mixin label-input-form {
    @include h2;
    color: #4A5568
}