@import 'src/variables.scss';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    div:where(.container) {
        font-style: normal;
        width: 50vh;
        height: 50%;
        margin-bottom: 40px;
        margin-top: 20px;
    }
}

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

@mixin a {
    color: $primary-color;
    text-decoration: none;
}

@mixin h {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: $roboto-color;  
}

@mixin h1 {
    @include h;
    font-size: 32px;
    line-height: 37px;
}

@mixin h2 {
    @include h;
    font-size: 24px;
    line-height: 28px;
}

@mixin h3 {
    @include h;
    font-size: 20px;
    line-height: 23px;
}

@mixin h4 {
    @include h;
    font-size: 16px;
    line-height: 19px;
}

@mixin label-input-form {
    @include h2;
    color: $label-input-form-color;
}