$primary-color: #0044FF;
$secondary-color: #B0B0B0;
$black-color:#000000;
$link-color: #61dafb;
$white-color: #ffffff;
$input-color:#E8E8E8;
$primary-color-over: rgba(29, 161, 242, 0.5);
$secondary-color-over: rgba(176, 176, 176, 0.7);
$subtitle-form-color :#2D3748;
$roboto-color:#1A202C;
$secodary-text-color: #616161;
$background-div-trends-color:#F6F8FA;
$label-input-form-color: #4A5568;
$trends-div-h3-color:#333333;
$trends-div-h4-color:#383838;
$trends-div-color:#E7ECF0;