@import '../../../../variables.scss';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 .LogoW{
    height:35vw;
    position: relative;
} 

.Home {
  background: linear-gradient(90deg, $primary-color 50%, #ffffff 50%);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


.secondary-color{
    color: $secodary-text-color;
}

.Home-content-left {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;

}

.Home-content-right {
  position: relative;
  width: 50%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  align-content: center;

  div {
    margin: 25%;
    div {
      margin: 0%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  h2 {
    @include h2;
  }

  a {
    @include a;
  }

  h4 {
    @include h4;
    margin-bottom: 0%; 
  }
}

.App-link {
  color: #61dafb;
}
@media screen and (max-width: 700px) {
  .Home {
    background: #ffffff 100%;
    align-items: center;
    width: 100vw;
  }
  .Home-content-left{
    display: none;
  }
  .Home-content-right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}