.FP{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FP Form{
    margin-left: 100px;
}

.FP Form Button{
    margin-left: 0px;
    width: 50vh;
}
.text{
    margin-left: 330px;
}
.secondary-text{
    width: 400px;
    font-weight: normal;
}
